<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bartek.gaslandsbuilder"
    android:installLocation="auto"
    android:versionCode="17">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/carcrash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".image_of_the_month"
            android:exported="true" />
        <activity
            android:name=".addPerk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gameTracker"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ViewCar"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".warnings" />
        <activity
            android:name=".about"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".addUpgrade"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeaponCreator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarCreator"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SavedCarEditor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bartek.gaslandsbuilder.MainActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>